NODE_ENV=development
PORT=5000

MONGO_URI=mongodb+srv://abdulsalamabolaji62_db_user:559EnhHx3pgFjDYn@taskflow.jvljysd.mongodb.net/?appName=TaskFlow

JWT_SECRET=b6e90eda2f384ebad451c39d9974ecb1636fd5920af2c562ef4e3e2bda003e5ad0a30f3c1d088ddc46efb982b97a1f98b25542ab5c8ed301ebf4d50770d5a29a
JWT_EXPIRES_IN=2y

CLIENT_URL=http://localhost:5173

ADMIN_EMAIL=abdulsalamabolaji62@gmail.com
ADMIN_PASSWORD=triplea200821
